*{
    margin: 0%;
    padding: 0.5%;


}
html {
    box-sizing: border-box;
    font-size: 1.125rem;
    color: var(--clr-text);
}
p
h1
h2
h3
h4
h5
h6 {
    font-size: 4rem;
    margin-bottom: 0.8em;
}

.wrapper {
    width: 100%;

}
.logoclg{
    width: 20%;
    display: flex;  
    align-items: center;
    padding: 20px;
}
.logoclg img{
    width: 60%;   
    border:3px;
    
    
}
.navlogobar{
    display: flex;
    justify-content: center;
    align-items: center;
    color:darkslategrey;


}



.department{
    width: 50%;
    justify-content: left;
    text-align: center;

}
.lab{
    width: 50%;
    justify-content: center;
    text-align: center;
    
}

.rightnav{
    width: 20%;
    padding: 20px;
    text-align:right;
}
.rightnav img{
    width: 60%;
    border:3px;
    border-radius: 100px;
    


}
.background{
    
    background-color:whitesmoke;
    width: 100%;
    background-size: cover;
    background-blend-mode: darken;
}

.background1{
    
    background-color:rgba(196, 183, 196, 0.889);
    background-size: cover;
    background-blend-mode: darken;
    color: whitesmoke;

}
.new{
    color: whitesmoke;
}

    







.address{
    display: flex;
   padding-top: 2%;
    
    

}
.leftaddress{
    
    width: 25%;
    padding-left:0em;
    justify-content: center;
    text-align: center;
    color: whitesmoke;}
    
.navbar
    {
        position:sticky;
        top: 0;
        overflow: hidden;
     }   
    

    
    

.midaddress{
    width: 25%;
    justify-content: center;
    text-align: center;
    color:whitesmoke;
    
    
    
}

.rightaddress{
    width: 25%;
    justify-content: center;
    text-align: center;
    color: whitesmoke;    
    
}





